:root {
  font-family: 'Titillium Web', sans-serif;
  background-color: #f8fafb;
}

/* * {
  box-sizing: border-box;
} */

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  overflow: hidden;
  height: 100%;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.clock {
  width: 80px;
  height: 80px;
  position: absolute;
  border-radius: 50%;
  transform: rotate(180deg);
  top: -40px;
  left: 39%;
}

.hour-hand,
.minute-hand,
.second-hand {
  width: 50%;
  height: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: left;
  background-color: #333;
}

.hour-hand {
  width: 50%;
  height: 4px;
  transform: rotate(90deg);
}

.minute-hand {
  width: 30%;
  height: 5px;
  transform: rotate(90deg);
}

.second-hand {
  width: 38%;
  background-color: #fd251e;
  transform: rotate(90deg);
}
